<div class="main">


  <div class="mainPageContent">
    <img alt="Main Page Photo" src="/assets/images/MainPagePhoto.jpg" class="mainPagePhoto"></img>

    <div class="mainTitleCard">

      <h1 class="title"> Gig Stacker</h1>

        <div class="mainTaglineDiv">
          <span class="mainTaglineMakeMoney">  Make Money.
          </span>
          <span class="mainTaglineStackGigs"> Stack Gigs.
          </span>
        </div>
    </div>

    <div class="mainLearnMoreDiv">
      <a href="/gigs" class="mainLearnMore"> Learn More </a>
    </div>

    <div class="mainTransparentDiv"></div>


  <div class="mainPageGigStackerContent">
    <div class="whatIsGigStacker">
      <div class="whatIsGigStackerContent">
            <h1> What is GigStacker?</h1>
              <p> Here at Gig Stacker we teach you about the Gig Economy and how it can help you increase your income and raise your savings rate.</p>
              <p>Take Control of your life and your money. <a href="https://www.youtube.com/GigStacker" >Watch Gig Stacker on YouTube!</a> </p>

          </div>

          <div class="whatIsGigStackerIcons">
            <div class="iconContent">
              <img alt="Content Icon" src="/assets/images/content.png"></img>

              <h2>Content</h2>
              <p>Subscribe to our YouTube Channel for new videos on the gig economy and money every single week.</p>
            </div>

            <div class="iconContent">
              <img alt="Content Icon" src="/assets/images/beweird.png"></img>
              <h2>Be Weird</h2>
              <p>Most Americans live in debt and waste their free time watching tv and spending money. Don&#39;t be like most Americans. Hustle hard and save your money!</p>
            </div>

            <div class="iconContent">
              <img alt="Content Icon" src="/assets/images/about.png"></img>
              <h2>About Us</h2>
              <p>Based in Washington, DC - ​We strive
              to ​promote diversified income & financial well being.</p>
            </div>
          </div>
    </div>

    <div class="featuredContainer">

      <div class="featuredVideoContent">
        <div class="featuredVideoTitle">
          <h2>Featured Video</h2>
        </div>

        <div class="featuredVideo">
          <iframe class="gigStackerVid" src="https://www.youtube.com/embed/0U5Emg50Luk?rel=0&showinfo=0&autohide=1" frameBorder="0" allowFullScreen title="1"></iframe>
        </div>
      </div>

      <div class="videoPlaylist">
        <div class="featuredVideoTitle">
          <h2>More Videos</h2>
        </div>

        <div class="video">
          <iframe  src="https://www.youtube.com/embed/videoseries?list=PLf3tAvJR4Bact6tg_WpGKErUZzYkvMZnZ" frameBorder="0" gesture="media" allowFullScreen title="2"></iframe>

          <p>Gig Stack Mondays </p>

        </div>

        <hr/>

        <div class="video">
          <iframe src="https://www.youtube.com/embed/videoseries?list=PLf3tAvJR4BacyoIWKgfmUlfR0UEnYZiim" frameBorder="0" gesture="media" allowFullScreen title="3"></iframe>
          <p>Cash Stack Fridays </p>

        </div>

        <hr/>

        <div class="video">
          <iframe src="https://www.youtube.com/embed/videoseries?list=PLf3tAvJR4BaduKc-FPmZTAmqkWyIqblIM" frameBorder="0" gesture="media" allowFullScreen title="4"></iframe>
          <p>Amazon Flex </p>
        </div>
      </div>

    </div> <!-- featured  -->
  </div>

</div> <!-- mainpage  -->

  <div class="footerContainer">
      <div class="footerContent">
        <p>Follow Me:</p>

        <div class="socialMediaIcons">

          <a href="https://www.facebook.com/gigstacker" target="_blank" class="fa fa-facebook" rel="noopener noreferrer"> </a>
          <a href="https://twitter.com/gigstacker" target= "_blank" class="fa fa-twitter" rel="noopener noreferrer"> </a>
          <a href="https://www.youtube.com/channel/UCUj1QtNPWifnyz8MVe3dSuw" target= "_blank" class="fa fa-youtube" rel="noopener noreferrer"> </a>
          <a href="http://instagram.com/gigstacker" target= "_blank" class="fa fa-instagram" rel="noopener noreferrer"> </a>
        </div>
      </div>
    </div>

</div> <!-- main  -->
